<a href="https://colab.research.google.com/github/adrianciemerych/customer_personality_analysis_project/blob/main/customer_personality_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import sklearn

pd.set_option('display.max_columns', None)
sklearn.__version__

'1.2.2'

In [2]:
# Load the dataset
all_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/customer_personality_analysis/marketing_campaign.csv', sep = '\t')
all_data

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,43,182,42,118,247,2,9,3,4,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,0,30,0,0,8,7,8,2,5,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,48,217,32,12,24,1,2,3,13,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,30,214,80,30,61,2,6,5,10,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,3,61,2,1,21,3,3,1,4,7,0,0,0,0,0,0,3,11,1

In [3]:
# Info about the dataset
data = all_data.copy()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

From all of the attributes only Income has null values.

In [4]:
# First 40 rows of dataset, including rows where Income is null
data.sort_values('Income', na_position = 'first').head(40)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
10,1994,1983,Graduation,Married,NaN,1,0,15-11-2013,11,5,5,6,0,2,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0
27,5255,1986,Graduation,Single,NaN,1,0,20-02-2013,19,5,1,3,3,263,362,0,27,0,0,1,0,0,0,0,0,0,3,11,0
43,7281,1959,PhD,Single,NaN,0,0,05-11-2013,80,81,11,50,3,2,39,1,1,3,4,2,0,0,0,0,0,0,3,11,0
48,7244,1951,Graduation,Single,NaN,2,1,01-01-2014,96,48,5,48,6,10,7,3,2,1,4,6,0,0,0,0,0,0,3,11,0
58,8557,1982,Graduation,Single,NaN,1,0,17-06-2013,57,11,3,22,2,2,6,2,2,0,3,6,0,0,0,0,0,0,3,11,0
71,10629,1973,2n Cycle,Married,NaN,1,0,14-09-2012,25,25,3,43,17,4,17,3,3,0,3,8,0,0,0,0,0,0,3,11,0
90,8996,1957,PhD,Married,NaN,2,1,19-11-2012,4,230,42,192,49,37,53,12,7,2,8,9,0,0,0,0,0,0,3,11,0
91,9235,1957,Graduation,Single,NaN,1,1,27-05-2014,45,7,0,8,2,0,1,1,1,0,2,7,0,0,0,0,0,0,3,11,0
92,5798,1973,Master,Together,NaN,0,0,23-11-2013,87,445,37,359,98,28,18,1,2,4,8,1,0,0,0,0,0,0,3,11,0
128,8268,1961,PhD,Married,NaN,0,1,11-07-2013,23,352,0,27,10,0,15,3,6,1,7,6,0,0,0,0,0,0,3,11,0
133,1295,1963,Graduation,Married,NaN,0,1,11-08-2013,96,231,65,196,38,71,124,1,6,5,7,4,0,0,0,0,0,0,3,11,0
312,2437,1989,Graduation,Married,NaN,0,0,03-06-2013,69,861,138,461,60,30,61,1,6,5,12,3,0,1,0,1,0,0,3,11,0
319,2863,1970,Graduation,Single,NaN,1,2,23-08-2013,67,738,20,172,52,50,20,6,2,3,10,7,0,1,0,1,0,0,3,11,0
1379,10475,1970,Master,Together,NaN,0,1,01-04-2013,39,187,5,65,26,20,14,2,4,2,6,5,0,0,0,0,0,0,3,11,0
1382,2902,1958,Graduation,Together,NaN,1,1,03-09-2012,87,19,4,12,2,2,6,1,1,0,3,5,0,0,0,0,0,0,3,11,0
1383,4345,1964,2n Cycle,Single,NaN,1,1,12-01-2014,49,5,1,9,2,0,4,1,1,0,2,7,0,0,0,0,0,0,3,11,0
1386,3769,1972,PhD,Together,NaN,1,0,02-03-2014,17,25,1,13,0,0,3,1,1,0,3,7,0,0,0,0,0,0,3,11,0
2059,7187,1969,Master,Together,NaN,1,1,18-05-2013,52,375,42,48,94,66,96,7,4,10,4,3,0,0,0,0,0,0,3,11,0
2061,1612,1981,PhD,Single,NaN,1,0,31-05-2013,82,23,0,15,0,2,7,2,3,0,3,6,0,0,0,0,0,0,3,11,0
2078,5079,1971,Graduation,Married,NaN,1,1,03-03-2013,82,71,1,16,0,0,9,4,2,1,3,8,0,0,0,0,0,0,3,11,0
2079,10339,1954,Master,Together,NaN,0,1,23-06-2013,83,161,0,22,0,0,24,2,4,1,4,6,0,0,0,0,0,0,3,11,0
2081,3117,1955,Graduation,Single,NaN,0,1,18-10-2013,95,264,0,21,12,6,147,3,6,1,5,7,0,0,0,0,0,0,3,11,0
2084,5250,1943,Master,Widow,NaN,0,0,30-10-2013,75,532,126,490,164,126,126,1,5,5,11,1,0,0,1,0,0,0,3,11,1
2228,8720,1978,2n Cycle,Together,NaN,0,0,12-08-2012,53,32,2,1607,12,4,22,0,0,0,1,0,0,1,0,0,0,0,3,11,0
1245,6862,1971,Graduation,Divorced,1730.0,0,0,18-05-2014,65,1,1,3,1,1,1,15,0,0,0,20,0,0,0,0,0,0,3,11,0
21,5376,1979,Graduation,Married,2447.0,1,0,06-01-2013,42,1,1,1725,1,1,1,15,0,28,0,1,0,0,0,0,0,0,3,11,0
1524,11110,1973,Graduation,Single,3502.0,1,0,13-04-2013,56,2,1,1,0,0,1,0,0,0,0,14,0,0,0,0,0,0,3,11,0
1846,9931,1963,PhD,Married,4023.0,1,1,23-06-2014,29,5,0,1,1,1,1,15,0,0,0,19,0,0,0,0,0,0,3,11,0
1975,10311,1969,Graduation,Married,4428.0,0,1,05-10-2013,0,16,4,12,2,4,321,0,25,0,0,1,0,0,0,0,0,0,3,11,0
981,3955,1965,Graduation,Divorced,4861.0,0,0,22-06-2014,20,2,1,1,1,0,1,0,0,0,0,14,0,0,0,0,0,0,3,11,0
2214,9303,1976,Graduation,Married,5305.0,0,1,30-07-2013,12,12,4,7,1,3,5,0,1,0,0,13,0,0,0,0,0,0,3,11,0
9,5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,28,0,6,1,1,13,1,1,0,0,20,1,0,0,0,0,0,3,11,0
1328,4246,1982,Master,Single,6560.0,0,0,12-12-2013,2,67,11,26,4,3,262,0,1,0,1,17,0,0,0,0,0,0,3,11,0
774,4303,1957,PhD,Together,6835.0,0,1,08-12-2012,76,107,2,12,2,2,12,0,0,0,1,20,0,0,0,0,0,0,3,11,0
1806,6237,1966,PhD,Single,7144.0,0,2,07-12-2013,92,81,4,33,5,2,291,0,23,1,1,0,0,0,0,0,0,0,3,11,0
1152,10710,1979,Graduation,Married,7500.0,0,1,29-08-2012,61,5,2,3,3,0,5,1,1,0,2,8,0,0,0,0,0,0,3,11,0
46,9909,1996,2n Cycle,Married,7500.0,0,0,09-11-2012,24,3,18,14,15,22,50,3,3,1,3,9,0,0,0,0,0,0,3,11,1
1246,4136,1992,Basic,Single,7500.0,1,0,03-12-2012,63,10,17,18,8,26,40,4,3,2,2,9,0,0,0,0,0,0,3,11,0
2222,10659,1979,2n Cycle,Together,7500.0,1,0,07-05-2013,7,2,8,11,3,8,21,4,3,2,2,7,0,0,0,0,0,0,3,11,0
2029,10001,1985,2n Cycle,Together,7500.0,1,0,01-08-2012,98,5,17,17,13,14,34,4,2,1,3,9,0,0,0,0,0,0,3,11,0

In [13]:
# Computing means for all the dataset and for the rows where Income is null
mean_data = data.describe().T['mean']
mean_data_null_income = data[data['Income'].isnull()].describe().T['mean']

# Comparing means in a common dataframe
mean_comparison = pd.concat([mean_data, mean_data_null_income], axis = 1)
mean_comparison.columns = ['mean', 'nulls_mean']
mean_comparison

                             mean   nulls_mean
ID                    5592.159821  5943.625000
Year_Birth            1968.805804  1967.458333
Income               52247.251354          NaN
Kidhome                  0.444196     0.666667
Teenhome                 0.506250     0.583333
Recency                 49.109375    58.041667
MntWines               303.935714   197.208333
MntFruits               26.302232    21.333333
MntMeatProducts        166.950000   162.708333
MntFishProducts         37.525446    27.166667
MntSweetProducts        27.062946    30.208333
MntGoldProds            44.021875    49.250000
NumDealsPurchases        2.325000     2.458333
NumWebPurchases          4.084821     4.041667
NumCatalogPurchases      2.662054     1.833333
NumStorePurchases        5.790179     4.791667
NumWebVisitsMonth        5.316518     5.083333
AcceptedCmp3             0.072768     0.000000
AcceptedCmp4             0.074554     0.125000
AcceptedCmp5             0.072768     0.041667
AcceptedCmp1             0.064286     0.083333
AcceptedCmp2             0.013393     0.000000
Complain                 0.009375     0.000000
Z_CostContact            3.000000     3.000000
Z_Revenue               11.000000    11.000000
Response                 0.149107     0.041667

We can't see significant divergences between these two means.
In the next step null values of Income will be filled in with the mean

In [6]:
data.nunique()

ID                     2240
Year_Birth               59
Education                 5
Marital_Status            8
Income                 1974
Kidhome                   3
Teenhome                  3
Dt_Customer             663
Recency                 100
MntWines                776
MntFruits               158
MntMeatProducts         558
MntFishProducts         182
MntSweetProducts        177
MntGoldProds            213
NumDealsPurchases        15
NumWebPurchases          15
NumCatalogPurchases      14
NumStorePurchases        14
NumWebVisitsMonth        16
AcceptedCmp3              2
AcceptedCmp4              2
AcceptedCmp5              2
AcceptedCmp1              2
AcceptedCmp2              2
Complain                  2
Z_CostContact             1
Z_Revenue                 1
Response                  2
dtype: int64

In [8]:
data[['Education', 'Marital_Status']].describe()

         Education Marital_Status
count         2240           2240
unique           5              8
top     Graduation        Married
freq          1127            864